body {
    margin: auto;
    font-family: "Permanent Marker", cursive;
    font-size: 1.5em;
    background-color: whitesmoke;
    color: rgb(101, 101, 247);
    padding: 5%;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    color: white;
    width: 25%;
    float: left;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: white;
    width: 75%;
    float: right;
}
